*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Times New Roman', Times, serif;
    background-image:url(../images/Injera_with_eight_kinds_of_stew.jpg);
    margin: 2rem;
    padding: 1.5rem;
    font-size: 25px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.container{
    background: linear-gradient(to right, #c0392b, #f39c12);
    margin: 2em;
    padding: 2rem;
    text-align: center;
    border-radius: 40px;
    max-width: 900px ;
    width: 100%;
    line-height: 2em;
}
img{
    max-width: 100%;
    border-radius: 12px;
    margin: 2em;
    display: block;
}
.container .list1{
    list-style: none;
    padding: 1em;
}
.container .list1 li{
    content:"✅";
    margin: 1rem;
    background-color: #f39c12;
    border-radius: 50px;
    max-width: 100%;
}
.container .list1 a{
    padding: 0.5rem;
    border-radius: 50px;
    text-decoration: none;
    display: block;
    color: #006400;
}
.list1 a:visited{
    background-color: lightgreen;
    color: #008080;
}
.list1 a:hover{
    background-color: brown;
    color: #d3d3d3;
}
.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: coral;
    color: darkcyan;
    padding: 1rem;
    margin: 1rem;
    border-radius: 50px;
    width: 100%;
}
.container h1{
    color: gold;
    padding: 2rem;
}
.container p,
.container .list2,
.container ol{
    text-align: justify;
    color: whitesmoke;
}
.container .list2{
    list-style: none;
    padding: 0;
}
.container .list2 li{
    position: relative;
    padding-left: 1em;
    margin-bottom: 0.5em;
}
.container .list2 li::before {
  content: "✅";
  position: absolute;
  left: 0;
  top: 0;
  color: coral;
  font-size: 0.5em;
}
.container ol{
    font-family: Georgia, 'Times New Roman', monospace;
    margin-left: 0.5em;
}
#main-footer{
    background-color: #f39c12;
    color: darkcyan;
    text-align: center;
    margin: 2em;
    padding: 2rem;
    border-radius: 40px;
    width: 100%;
    max-width: 900px;
}